src/pages/index/index.pug
doctype html
html
  head
  body
  - var restlist = [{title: "Макдоналдс — Газетный", pic: "../img/mac.png", cost:"₽₽", kitchen:"Бургеры", time:"25-35 Min"}];

    mixin rest-item-card(rest)
      .col-4
        .restitem-card
          h1=rest.title
          img(src=rest.pic)

    .row
      for rest in restlist
        +rest-item-card(rest)


    script(src="index.js")

build/index.html
<!DOCTYPE html>
<html>
  <head><link href="./css/index.css" rel="stylesheet"></head>
  <body><script type="text/javascript" src="./js/common.js"></script><script type="text/javascript" src="./js/index.js"></script></body>
  <div class="row">
      <div class="col-4">
        <div class="restitem-card">
          <h1>Макдоналдс — Газетный</h1><img src="../img/mac.png">
        </div>
      </div>
  </div>
  <script src="index.js"></script>
</html>
